@import 'base';

.media {
  width: 100%;
  height: 70%;
}

.card {
  width: 250px;
  height: 300px;
  .icon {
    color: black;
    background: rgba(109, 109, 109, 0.1);
    position: relative;
    top: -225px;
    left: 180px;
  }
}

.title {
  cursor: pointer;
  position: relative;
  top: -45px;
  text-align: center;
}

.item {
  @extend .flex-row-center;
  margin: 5px;
  width: 40%;
  flex-grow: 1;
  background: transparent;
}
