@import 'base';

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  white-space: normal;
  background-color: transparent;
}

.gridItem {
  flex: 1;
  padding: 5px;
  background: transparent;
  z-index: 10;
  @extend .flex-column-center;
}
