@import 'base';

.media {
  width: 100%;
  height: 70%;
}

.cardText {
  width: 100%;
  height: 70%;
  .text{
    font-size: 10px;
    text-align: justify;    
  }
}

.card {
  width: 250px;
  height: 300px;
  .icon {
    color: black;
    background: rgba(109, 109, 109, 0.1);
    position: relative;
    top: -225px;
    left: 180px;
  }
}

.item {
  @extend .flex-row-center;
  margin: 5px;
  width: 40%;
  flex-grow: 1;
  background: transparent;
}

.color {
  background-color:#3f51b5;
  .title {
    cursor: pointer;
    position: relative;
    top: -45px;
    text-align: center;
    color: white;
  }
}
