@import 'base';


.title {
  font-size: 24;
  font-family: Times New Roman, Times, serif;
  text-align-last: center ;
}
.container {
  width: 100%;
}
.reportTable {
  margin: 20px;
  @extend .flex-row-center;
}