@import 'base';

.card {
  width: 100%;
  max-width: 531.42px;
}
.card {
  .media {
    width: 100%;
    max-height: 60%;
    min-height: 300px;
  }
  .icon {
    color: black;
  }
}

.listItemPosition {
  @extend .flex-row-center;
}

.grid {
  width: 100%;
  max-width: 600px;
  align-items: center;
  padding-bottom: 20px;
}

.iconGrid {
  @extend .flex-row-center;
  width: 25%;
}

.titleGrid {
  width: 75%;
}
