@import 'base';

.card {
  width: 100%;
  max-width: 600px;

  .color {
    color: black;
  }

  .media {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
  }
}

.grid {
  width: 100%;
  max-width: 600px;
  align-items: center;
  padding-bottom: 20px;
}

.iconGrid {
  @extend .flex-row-center;
  width: 25%;
}

.titleGrid {
  width: 75%;
}
