@import 'base';

.card {
  cursor: pointer;
  border: 3px solid whitesmoke;
  width: 270px;
  height: 350px;
  margin: 0px 7px 15px 7px;
  user-select: none;
  position: relative;

  .titleChallenge {
    text-align: center;
    font-weight: bold;
  }
  .iconButton {
    color: black;
  }
}

.media {
  border: 1px;
  width: 100%;
  height: 65%;
}

.avatarSize {
  width: 3rem;
  height: 3rem;
}
