.card {
  width: 100%;
  max-width: 600px;
  .icon {
    color: black;
  }
}

.reviewCard {
  margin: 20px;
}

.heading {
  font-size: pxToRem(15);
  flex-basis: 73.33%;
  flex-shrink: 0px;
}

.secondaryHeading {
  font-size: pxToRem(15);
}

.color {
  color: black;
}