@import 'base';

.card {
  margin-top: 50px;
  width: 600px;
  .icon {
    color: black;
  }
}

.media {
  // max-width: 600px;
  height: 30%;
}

.heading {
  font-size: pxToRem(15);
  flex-basis: 73.33%;
  flex-shrink: 0px;
}

.secondaryHeading {
  font-size: pxToRem(15);
}
