@import 'base';

.brand {
  font-weight: 200;
  .icon {
    height: 50px;
    margin-top: 7px;
    @include mobile {
      width: 3rem;
      height: 3rem;
      margin-top: 1.1rem;
    }
  }
}
// fix button alignment
.appBar > div {
  @extend .flex-row;
  align-items: center;
  margin-top: 0px !important;
  @include mobile {
    justify-content: flex-end;
  }
}

.wrapper {
  @extend .flex-row;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 64px;
}

.avatar {
  margin-right: 1rem;
  @extend .flex-row-center;
  align-items: center;
  flex-grow: 1;
  @include mobile {
    margin-right: 0;
    justify-content: flex-end;
  }
  &-text {
    @extend .flex-row-center;
    font-weight: 200;
    cursor: pointer;
    color: white !important;
    align-items: center;
    margin-left: 1rem;
    height: 100%;
    flex-grow: 1;
    font-size: 1rem;
    &-name {
      min-width: 5rem;
      margin-right: 1rem;
    }
    @include mobile {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
}

.title {
  font-weight: 300;
  text-overflow: ellipsis;
  flex-shrink: 1;
  @include mobile {
    display: none;
  }
}

.flex {
  flex: 1;
}

.buttonStyle  {
  color: white;
  text-decoration: none;
  align-self: center;
}

.menuButton {
  @media only screen and (min-width: 1399px) {
    display: none;
  }
}
