@import 'base';

.root {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  table-layout: auto;

  .cellChallengeID {
    cursor: pointer;

  } 
  .cellTitle {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cell {
    max-width: 220px;
  }
  .pointer {
    cursor: pointer
  }
}

.thumbnailHeader {
  width: 100px;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.parent {
  width: 100%;
}

.progress {
  margin: 0 auto;
  width: 10%;
  padding: 20px;
}