@import 'base';

.card {
  width: 500px;
  height: 100%;
  .icon {
    color: black;
    position: relative;
    top: -35px;
    left: 425px;
  }
}

.title {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: black;
}


.message {
  position: relative;
  top: -30px;
  text-align: initial;
}

.item {
  @extend .flex-row-center;
  margin: 5px;
  flex-grow: 1;
  background: transparent;
}
