@import 'base';

.title {
  font-size: 24;
  font-family: Times New Roman, Times, serif;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0px auto;
  @extend .flex-row-center;
}

.card {
  margin: 50px 0px 0px 25px;
}

.reportItem {
  margin: 50px 25px 0px 0px;
}
