@import 'base';

.card {
  cursor: pointer;
  border: 3px solid whitesmoke;
  margin: 0px 7px 0px 7px;
  width: 9.0625rem;
  height: 10rem;

  .titleUsername {
    text-align: center;
    user-select: none;
  }

 .avatar {
    @extend .flex-row-center;
    padding-top: 5px;
    padding-bottom: 5px;

    .avatarSize {
      width: 70px;
      height: 70px;
    }
  }

  .iconButton {
    color: black;
    position: absolute;
    top: 1px;
    right: 1px;
  }  
}

.cardContent {
  height: 60%;
}
