@import 'base';

.container {
  margin-top: 1.5625rem;
  max-width: 87.5rem;
  height: 100%;
  @extend .flex-row-center;
}

.card {
  width: 100%;
}

.gridContainer {
  padding: 2%;
 
}

.floatButton {
  position:fixed;
  top: 90%;
  left: 95%;
}
