@import 'base';

.text {
  max-height: 40%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typography {
  max-width: 50%;
}

.heading {
  font-size: pxToRem(15);
  flex-basis: 73.33%;
  flex-shrink: 0px;
}

.secondaryHeading {
  font-size: pxToRem(15);
}
