@import 'base';

.container {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .navBar {
    width: 100%;
    position: fixed;
    z-index: 1100;
  }
}

.children {
  height: calc(100% - 48px);
  width: 100%;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: $background;
  @media only screen and (min-width: 1400px){
    padding-left: 18%;
  }
}

.paper {
  @media only screen and (max-width: 1399px) {
    display: none;
  }
  @media only screen and (min-width: 1400px) { 
    z-index:1000;
    width: 240px;
    position: fixed;
    height: 100%;
    top: 64px;
    left:0;
  }
}

.layout {
  @extend .flex-row-center;
  height: 100%;
}
