@import 'base';

.iconButton {
  float: left;
  z-index: 100;
  box-sizing: content-box;
  width: 48px;
  height: 48px;
}

.icon {
  color: rgb(33,150,243);
}

.iconButton {
  .icon {
    width: 48px;
    height: 48px;
  }
}