@import 'base';

.main {
  flex: 1;
  padding: 20px;

  .card {
    text-align: right;
    padding: 10px;
    width: 260px;
    height: 100px;
    overflow: inherit;
    
    .cardIcon {
      font-size: 75px;
      background: #f44336;
    }
  }
}
